/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  margin: 0;
  height: 100%;
}

body {
  color: white;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.4) 10%, rgba(0, 1, 127, 0.6));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: scroll;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a, .navbar span {
  color: gray;
  text-decoration: none;
}

a:hover, .navbar span {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.navbar img {
  height: 40px;
}

.navbar a, .navbar span {
  font-size: 1.1em;
  margin-right: 15px;
}

.navbar a:hover, .navbar span:hover {
  color: black;
}

.checkout-btn {
  background: white;
  color: black;
  text-align: center;
  margin: 5px;
  width: 100%;
}

.checkout-btn:hover, .checkout-btn a:hover {
  background: lightgray;
  color: black;
}
